[nz-radio], [nz-checkbox] {
  display: flex;
  height: 28px;
}


.filter {
  display: none;

  @media screen and (min-width: 992px) {
    display: block;
  }

  &-trigger {
    margin-bottom: 22px;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}
